files:
    "/tmp/stackdriver/install-stackdriver":
        mode: "000755"
        owner: root
        group: root
        content: |
            curl -o /etc/yum.repos.d/stackdriver.repo https://repo.stackdriver.com/stackdriver-amzn.repo
            yum -y install stackdriver-agent
            /usr/bin/python /opt/stackdriver/stack-config --api-key $STACKDRIVER_API_KEY
container_commands:
    install-stackdriver:
        command: /tmp/stackdriver/install-stackdriver
        test: '[ "$STACKDRIVER_API_KEY" != "" ]'
